#waybar {
    border: 0;
    background-color: transparent;
    color: #93a2d7;
    font-family: "Iosevka NF";
    font-weight: 500;
    font-size: 17px;
}

.modules-left {
    font-size: 16px;
    color: #6e7bb0;
}

.modules-left, .modules-center, .modules-right {
    padding: 4px 0;
    margin: 0 3px;
}

label.module {
    padding: 0 8px;
    margin: 0 3px;
    border-radius: 4px;
}

.modules-left label.module,
.modules-right label.module {
    padding: 0 12px;
    border-radius: 4px;
    background-color: #1F2029;
}

#taskbar button {
    background-color: transparent;
    border: 0;
}

#taskbar button.active {
    background-color: #282a3a;
    border: 0;
}

#custom-pacman {
    color: #b05669;
    padding-right: 16px;
}

#custom-notifications.unread {
    color: #b05669;
}

#custom-claude-usage.warning {
    color: #907149;
}

#custom-claude-usage.critical {
    color: #b05669;
}

#custom-weather {
    padding-right: 6px;
}

#custom-notifications {
    padding-right: 16px;
}

tooltip {
    background: #282a3a;
    color: #93a2d7;
    border: 1px solid #181921;
    padding: 0px;
    margin: 0px;
}

tooltip label {
    color: #93a2d7;
    padding: 0;
    font-family: "Iosevka NF";
    font-size: 17px;
    font-weight: 500;
}
